.soccer-table {
	max-width: 1000px;
    margin: 0 auto;
}

.soccer-table__logo {
    position: absolute;
    top: 10px;
    height: 42px;
}

.goal-counter {
	padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

.goal-counter__team-logo {
	height: 44px;
}

.goal-counter__display {
	font-family: 'Keania One', cursive;
	font-size: 22px;
    line-height: 20px;
    height: 20px;
    width: 80px;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    border: 2px solid darkgray;
    color: white;
    text-align: center;
}

.goal-counter__team-one:after {
	content: ':';
	padding: 0 5px 0 10px;
}